* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
     
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position:relative;
    
}

form {
    
    display: flex;
    flex-direction: column;
    background: #050b16;
    text-align: center;
    padding: 40px 40px 65px 40px;
    box-shadow: 20px 25px 25px #190c0c;
    border-radius: 7px;
    position:relative;
    z-index: 2;
    opacity:0.8;
    
}

.title {
    font-size: 35px;
    margin-bottom: 25px;
    padding: 40px 10px 0px 10px;
    color: #a0551d;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

form label {
    margin-bottom: 16px;
    color: #a0551d;
}

.fa-solid {
    font-size: 20px;
    color: #a0551d;
    padding: 10px 5px 0px  
}

#username {
    border-radius: 10px;
    border-style: solid;
    padding: 7px 15px;
}

#password {
    border-radius: 10px;
    border-style: solid;
    padding: 7px 15px;
}

form button {
    background-color: #a0551d;
    color: #ffffff;
    border: none;
    padding: 15px 5px ;
}

.link {
    color: #a0551d;
    font-size: 18px;
    padding: 0px 0px 20px ;
}
video{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit:cover;

}
.capa{

}